---
layout: false
---

:ruby
  export = ""
  content = ""

  results = rack[:request].POST

  if results
    slug = results['title'].to_s.strip.gsub(/'/,'').parameterize
    timestamp = Time.now
    filename = File.join(app.source_dir, "#{blog.options.prefix}#{timestamp.to_date}-#{slug}.html.md")

    meta = {
      'title' => results['title'],
      'author' => results['author'],
      'date' => timestamp.in_time_zone(Time.zone).strftime('%F %T %Z'),
      'published' => false
    }

    yamlized = meta.to_yaml.gsub(/^----$/, '---').gsub(/^date: '(.*)'$/, 'date: \1')

    export = "#{yamlized}---\n\n#{content}"

    File.write filename, export if slug
  end

= {date: timestamp.to_date, slug: slug}.to_json
