@import font-awesome
@import lepture-editor

#branding,
#footer
  display: none


.admin-index
  h2
    padding: 0 0 2rem


.helpertip
  $helper-color: #fb7
  position: absolute
  top: 100%
  padding: 1ex 2ex
  margin: 1.5ex 0 0 -1ex
  border: 1px solid $helper-color
  background: $helper-color
  z-index: 999
  border-radius: 3px
  box-shadow: 1px 2px 2px rgba(black, 0.3)
  max-width: 60ex
  pointer-events: none
  display: none

  &:after
    width: 0
    height: 0
    border: 1ex solid transparent
    border-top-width: 0
    border-bottom-color: $helper-color
    content: ""
    position: absolute
    top: -1ex
    left: 1.5ex


.newpost
  margin: 0 -2rem
  background: #f6f6f6
  padding: 1.5rem 2rem
  border-radius: 4px
  display: block

  h2
    margin: 0

  label
    font: inherit
    color: #555
    margin-right: 0.5ex

  &:after
    clear: both
    content: ''
    display: block


.filterform
  padding: 4rem 0 0
  display: block


.blog-admin
  width: 100%

  td
    line-height: 1.6
    padding: 2ex
    border: 1px solid #eee
    border-width: 1px 0

  tr.draft td
    opacity: 0.8
    background: #f6f6f6
    border-bottom-color: #aaa

  .title a
    display: block
    font-size: 120%

  .meta
    color: #777

  .author
    //float: left

  .tags
    float: right
    color: #999
    display: none

  .date-format
    color: #555

  .date-ago
    color: #999
    white-space: nowrap

  td.published
    padding-right: 0.5ex

  .draft-icon
    @extend .fa
    @extend .fa-pencil
    font-size: 130%
    opacity: 0.7
    cursor: default

  .viewlink
    padding: 0

    a
      @extend .fa
      @extend .fa-external-link
      font-size: 1.25em
      padding: 2ex 1ex
      text-decoration: none
      visibility: hidden


  tr:hover

    .viewlink a
      visibility: visible

.filter-wrap
  position: relative
  margin-bottom: 2em

  &:before
    @extend .fa
    @extend .fa-search
    position: absolute
    top: 0
    bottom: 0
    left: 12px
    z-index: 99
    vertical-align: middle
    text-align: center
    font-size: 1.5em
    line-height: 3ex
    width: 2.125em
    opacity: 0.4
    pointer-events: none

  input
    padding-left: 4.25ex

  .clearer
    position: absolute
    right: 0
    top: 0
    bottom: 0
    border-color: transparent
    margin: 1px 16px 1px 0
    border-top-left-radius: 0
    border-bottom-left-radius: 0


body.admin
  // Not necessary in most cases, but we want to ensure admin
  // works with all sites
  background-color: #fff
  color: #333

  .headerbar
    background: #444
    border-bottom: 1px solid #111
    padding: 0 1ex
    color: #ccc
    line-height: 7ex
    overflow: hidden

    .btn + .btn
      margin-left: 1ex

    .btn
      text-shadow: 0 1px 6px rgba(black, 0.3)

    .center-text
      text-align: center

    .left-side
      float: left

    .right-side
      float: right

    .constrain
      max-width: 60em
      margin: 0 auto

    .label
      margin-right: 1ex


body.admin-index

  #content
    position: static
    padding-top: 10rem

  .headerbar
    position: absolute
    top: 0
    right: 0
    left: 0

    .container
      max-width: 70em

    a
      color: #cef
      padding: 2ex 0.5ex
      text-shadow: 0 0

      &:before
        @extend .fa
        @extend .fa-external-link
        margin-right: 0.75ex
        opacity: 0.5
        vertical-align: middle


body.admin-blog-edit

  &, body
    overflow: hidden

  input.title
    font-size: 140%
    height: auto

  #edit-ui
    padding-top: 1em
    background: #eee

    .editor
      padding-right: 0

      &.disabled
        opacity: 0.5
        pointer-events: none

    .preview
      //padding-left: 0

  .col-sm-6
    height: 100vh

    form
      padding: 0 0 0 1em

    form, #preview
      height: 100%

    textarea
      height: calc(100vh - 35rem)
      width: 100%

    #preview
      border: 1px solid #ccc
      height: 100vh
      width: 100%

    #preview
      padding: 0 2em
      overflow: auto
      background: #fff

    .CodeMirror-scroll
      height: calc(100vh - 33rem)
      overflow: auto

    \:-webkit-full-screen
      .CodeMirror-scroll
        height: 100%

    \:-moz-full-screen
      .CodeMirror-scroll
        height: 100%

    .CodeMirror
      font-family: inherit
      border-radius: 3px
      border: 1px solid #ccc
      color: inherit
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s

      &.focus
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
        border-color: #66afe9

  .modal
    h4
      margin: 0 0 1em

    .rename-date
      //width: 14ex

    .rename-slug
      width: 38ex

    .alert
      margin-top: 2em

    strong.alert-danger
      background: transparent

  .modal-dialog
    margin-top: 25vh

  input.author
    position: relative
    z-index: 5

  .combo-wrap
    position: relative
    z-index: 1
    vertical-align: middle
    display: table-cell

  .combo
    padding: 6px 10px 5px 0
    width: 1ex
    margin: -1px 0 0 -7px

